*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

@font-face {
  font-family: 'Maswen';
  src: url('../public/fonts/maswen-maswen-regular-400.ttf') format('truetype');
}

.app-container {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.content-wrapper {
  flex: 1;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: hidden;
  width: 100%;
}

.navbar-wrapper {
  width: 350px;
  flex-shrink: 0;
  position: relative;
}

/* Ensure Navbar width is respected */
.app-container > .navbar-wrapper {
  flex-shrink: 0; 
  width: 250px;  
}

@media (min-width: 1024px) {
  .content-wrapper {
    padding: 40px;
  }
}

h1, h2, h3 {
  font-family: 'Maswen', sans-serif;
}